body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container-fluid {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1#heading {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .card {
    background-color: #f0f0f0;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: center;
  }
  
  .card h2.heading {
    margin-bottom: 20px;
  }
  
  .border {
    border: 2px dashed #bbb;
    padding: 20px;
    margin-top: 20px;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-outline-success {
    background-color: transparent;
    color: #28a745;
    border: 2px solid #28a745;
  }
  
  .btn-outline-success:hover {
    background-color: #28a745;
    color: #fff;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  
  .card i {
    color: #888;
    margin-bottom: 20px;
  }
  
  #startagain {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
  }
  .downloadButton{
    display: none;
  }
  .downloadButton a{
    color: #0056b3;
    text-decoration: none;
  }
  .downloadButton button{
    padding: 5px;
    height: fit-content;
    width: fit-content;
    outline: none;
    color: #0056b3;
    text-align: center;
    background-color: #6edb87;
  }
  #submitbtn{
    display: none;
  }

  /* sbvjks */



header{
  top: 0;
  left: 0;
  width: 100%;
  height: 8%;
  z-index: 100;   
  background-color: rgb(237,60,59);

}


.profile-icon {
  position: relative;

  
  margin-left: 10px;
}

.profile-icon i {
  font-size: 40px; /* Increase the font size to make it bigger */
}


.hello{
  font-size: 25px;
  margin-left: 75%;
  color: #b8adad;
  text-transform: capitalize;
  cursor: pointer;

} 

.dropdown{
  display: none;

}
.profile-icon:hover .dropdown{
  display: block;
  position: absolute;
  left: 50%;
  top: 100%;
  background-color: #ffff; 
  z-index: 10;
  border-radius: 10px;
}
.dropdown ul{
  display: block;
  margin: 10px 5px;
  padding: 5px;
  cursor: pointer;

}
.dropdown ul li{
  width: 180px;
  padding: 5px;
}
.dropdown ul li a{
  padding: 0 10px;
  font-size: 15px;
  text-align: left;
  color: #77208B;
}
.dropdown ul li a .log-btn{
  border: none;
  font-size: 15px;
  text-align: left;
  color: #77208B;
  cursor: pointer;
}
.hello {
   text-align: right; 
   padding: 7px; 
   border-radius: 4px;
  color: #ffff;
  font-family: Georgia, 'Times New Roman', Times, serif;
} 

.title{
  border: none;
  background-color: #ffff;
  text-transform: capitalize;
  font-weight: bold;
  list-style-type: none;
}

